body {
    margin: 0;
    padding: 0;
}
/** menu */
nav {
    background: #222;
    padding: 5px 20px;
}
nav ul {
    padding: 0;
    margin: 0;
}
.menu-container {
    display: flex;
    list-style: none;
    justify-content: space-between;

}
.menu-container a {
    text-decoration: none;
    color: white;
}
.menu-container a:Hover {
    color: yellow;
}
.menu-container .project-name {
    color: red;
}
@media only screen and (max-width: 900px) {
    .menu-container {
        flex-direction: column;
        text-align: center;
    }
}
/** main body */

